# === Gradle ===
.gradle/
build/


# === VSCode ===
.vscode/

# === IntelliJ / IDEs ===
.idea/
*.iml

# === OS Files ===
.DS_Store
Thumbs.db

## === Binaries ===
bin

# === Logs and temp ===
*.log
*.tmp
*.swp

# === Java ===
*.class

# === Docker ===
*.jar
*.war
*.tar
